---
import ShareIcon from '@/icons/share/ShareIcon.astro'
---

<button type="button" class="hover:scale-110 active:scale-90" id="btn-share">
  <ShareIcon />
</button>

<script>
  // Controller
  import { shareController } from '@/controllers/share'

  // Utils
  import { $ } from '@/utils/dom'

  const btnShare = $('#btn-share')

  btnShare?.addEventListener('click', shareController)
</script>
