---
// Layouts
import Layout from "@/layouts/Layout.astro";

// Components
import DownloadForm from "@/components/form/DownloadForm.astro";
import HowToUse from "@/components/how-to-use/HowToUse.astro";
import ProgressBar from "@/components/progress-bar/ProgressBar.astro";
---

<Layout title="EasyViewer">
  <main>
    <div class="flex justify-center items-center">
      <DownloadForm />
    </div>

    <ProgressBar />
  </main>

  <footer class="flex justify-center items-center">
    <HowToUse />
  </footer>
</Layout>
<script>
  import { notify } from "@/notifications/notify";

  setInterval(() => {
    notify({
      text: "Estamos trabajando duro para desarrollar EasyViewer, una herramienta que te ayudará a desgargar videos/audios de YouTube",
      type: "info",
    });
  }, 5_000);
</script>
