---
// Layouts
import Layout from "@/layouts/Layout.astro";

// Components
import DownloadForm from "@/components/form/DownloadForm.astro";
import HowToUse from "@/components/how-to-use/HowToUse.astro";
import Modal from "@/components/modal/Modal.astro";
import ProgressBar from "@/components/progress-bar/ProgressBar.astro";

const isBrowserInSpanish = Astro.preferredLocale?.indexOf("es") !== -1;
---

<Layout title="EasyViewer">
  <main>
    {
      isBrowserInSpanish && (
        <div class="flex items-center justify-center" id="dialog-container">
          <Modal language="es" />
        </div>
      )
    }

    <div class="flex justify-center items-center">
      <DownloadForm />
    </div>

    <ProgressBar />
  </main>

  <footer class="flex justify-center items-center">
    <HowToUse />
  </footer>
</Layout>
