---
// Layouts
import Layout from '@/layouts/Layout.astro'

// Components
import DownloadForm from '@/components/form/DownloadForm.astro'
import HowToUse from '@/components/how-to-use/HowToUse.astro'
import Modal from '@/components/modal/Modal'
import ProgressBar from '@/components/progress-bar/ProgressBar.astro'

export const prerender = true
---

<Layout title="EasyViewer">
  <main>
    <div class="flex items-center justify-center" id="dialog-container">
      <Modal i18nURL={Astro.url} client:load />
    </div>

    <div class="flex justify-center items-center">
      <DownloadForm />
    </div>

    <ProgressBar />
  </main>

  <footer class="flex justify-center items-center">
    <HowToUse />
  </footer>
</Layout>
