/* select */
.select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.select:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgb(52 152 219 / 70%);
}

/* label */
.label {
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
  color: white;
  text-align: center;
}

/* Media queries */
@media (width <= 600px) {
  .select {
    font-size: 14px;
    text-indent: 1px;
    text-overflow: '';
    background-color: #f8f8f8;
    color: #333;
  }

  .select:hover,
  .select:focus {
    border-color: #888;
  }

  .label {
    font-size: 16px;
  }
}