---
// Layouts
import Layout from "@/layouts/Layout.astro"

// Components
import DropdownContact from "@/components/contact/DropdownContact"
import DownloadForm from "@/components/form/DownloadForm.astro"
import HowToUse from "@/components/how-to-use/HowToUse.astro"
import ChangeLanguage from "@/components/languages/ChangeLanguage"
import ProgressBar from "@/components/progress-bar/ProgressBar.astro"
---

<Layout title="EasyViewer">
  <header class="p-2 m-3 bg-green-700 flex flex-row items-center justify-center gap-4">
    <DropdownContact client:idle />
    <ChangeLanguage client:idle />
  </header>

  <main>
    <div class="flex justify-center items-center">
      <DownloadForm />
    </div>

    <ProgressBar />
  </main>

  <footer class="flex justify-center items-center">
    <HowToUse />
  </footer>
</Layout>
