---
import Option from "./Option.astro"
---

<div class="flex flex-col items-center justify-center">
  <label
    for="contact-method"
    class="text-lg mb-2 block text-white text-center"
  >
    Contact Method
  </label>
  <select
    id="contact-method"
    class="p-2 text-base rounded cursor-pointer focus:border-blue-500"
  >
    <Option value="facebook" text="Facebook" />
    <Option value="instagram" text="Instagram" />
    <Option value="twitter" text="Twitter" />
    <Option value="github" text="GitHub" />
  </select>
</div>

<script>
  import { SOCIAL_NETWORKS } from "@/constants/social-networks"

  type SocialNetworkKey = keyof typeof SOCIAL_NETWORKS

  const contactMethod = document.getElementById("contact-method")

  contactMethod?.addEventListener("change", event => {
    const socialNetworkKey = (event.target as HTMLSelectElement).value as SocialNetworkKey
		const socialNetwork = SOCIAL_NETWORKS[socialNetworkKey]

		open(socialNetwork, "_blank")
  })
</script>