.how-to-use {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  background-color: #b3d9ff;
  color: black;
}

/* Media queries */
@media (width <= 768px) {
  .how-to-use {
    display: flex;
    flex-direction: column;
  }
}