---
import DropdownContact from "../contact/DropdownContact"
---

<nav class="p-2 m-3 bg-green-700">
  <ul class="m-0 p-0 flex justify-center items-center">
    <li class="mr-5">
      <DropdownContact client:load />
    </li>
  </ul>
</nav>
